@import url("https://fonts.googleapis.com/css?family=Assistant:300,600|Merriweather+Sans:400");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

$sidebar-width: 25%;
$primary-color: #2419B2;
$highlight-colors: transparentize(#5189BC, 0.5),
  transparentize(#8B54C1, 0.5),
  transparentize(#655DC5, 0.5),
  transparentize(#A583C5, 0.5),
  transparentize(#80A2C0, 0.5),
  transparentize(#8E8BC9, 0.5);

@function getMediaQuery($size, $print) {
  @return "(min-width: #{$size})" + if($print, ", print", "");
}

@mixin breakpoint($class, $print: false) {
  @if $class == xs {
    @media #{getMediaQuery(0, $print)} { @content; }
  }

  @else if $class == sm {
    @media #{getMediaQuery(768px, $print)} { @content; }
  }

  @else if $class == md {
    @media #{getMediaQuery(992px, $print)} { @content; }
  }

  @else if $class == lg {
    @media #{getMediaQuery(1200px, $print)} { @content; }
  }

  @else {
    @error "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Assistant, Sans-Serif;

  & > * {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem 1rem 10rem 1rem;
    @media print {
      padding: 0;
    }
  }

  @media print {
    font-size: 90%;
  }
}

main {
  @include breakpoint(sm, true) {
    column-count: 2;
  }
}

h1 {
  font-family: "Merriweather Sans", Sans-Serif;
  font-weight: 400;
}

h2 {
  font-size: 140%;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

h3 {
  font-size: 100%;
  font-weight: bold;
  margin: 0;
}

section {
  break-inside: avoid-column;

  // remove top-margin of first heading to line up columns
  &:first-child > h2:first-child {
    margin: 0;
  }
}

ul {
  margin: 0.5em;
  padding-left: 1em;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}


header {
  @include breakpoint(md) {
    margin-bottom: 1.5rem;
  }
  h1, h2 {
    @include breakpoint(md) {
      position: relative;
      left: $sidebar-width;
      width: 75%;
    }
    @media print {
      margin-top: 0;
    }
  }
  h1 {
    margin-bottom: 0;
    text-align: center;
  }

  .job-title {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    padding: 0;
    text-align: center;
    font-family: monospace;
  }
}

.aside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  text-align: center;
  padding: 0 2em;
  margin-bottom: 1rem;

  & > * {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0.5rem;
    @include breakpoint(md) {
      margin-bottom: 1rem;
    }
  }

  @include breakpoint(md) {
    float: left;
    width: $sidebar-width;
    text-align: left;

    padding: 0 1.5rem 0 0;
  }

  .summary {
    @include breakpoint(md) {
      order: -1;
    }
  }


  .contact {
    & > * {
      display: inline-block;
      padding: 0 0.5em;

      @include breakpoint(md) {
        display: block;
        padding: 0;
      }
    }

    .email::before {
      content: '\f0e0';
      font-family: FontAwesome;
      display: inline-block;
      padding-right: 0.3em;
    }
    .phone::before {
      content: '\f095';
      font-family: FontAwesome;
      display: inline-block;
      padding-right: 0.3em;
    }
    .address::before {
      content: '\f015';
      font-family: FontAwesome;
      display: inline-block;
      padding-right: 0.3em;
    }
    .github::before {
      content: '\f09b';
      font-family: FontAwesome;
      display: inline-block;
      padding-right: 0.3em;
    }
    .website::before {
      content: '\f0ac';
      font-family: FontAwesome;
      display: inline-block;
      padding-right: 0.3em;
    }
    .linkedin::before {
      content: '\f0e1';
      font-family: FontAwesome;
      display: inline-block;
      text-align: center;
      padding-right: 0.3em;
    }
  }

  .important-skills {
    @media print {
      display: none;
    }

    > * {
      display: inline;
      @include breakpoint(md) {
        display: block;
      }
    }

    h3 {
      padding-right: 0.3em;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      display: inline-block;
      padding: 0.3em;
      margin: 0.1em;
      border: 1px solid grey;
    }
  }
}

.info-block {
  break-inside: avoid-column;
  margin-bottom: 0.5rem;
  &:last-child {
    margin-bottom: 0;
  }
}


$highlight-color: lighten($primary-color, 30%);
.info-bullet {
  display: inline;
  p {
    display: inline;
  }

}
.skill-list {
  display: inline;
  padding: 0;
  margin: 0;
  font-style: italic;
  &::before {
    content: " (";
    display: inline;
  }
  &::after {
    content: ")";
    display: inline;
  }
  li {
    display: inline;
    .text {
      position: relative;
      z-index: -1;
      display: inline;
      border-radius: 0.1em;
      padding: 0.05em 0.1em;
      margin: -0.05em -0.1em;

      @each $color in $highlight-colors {
        $i: index($highlight-colors, $color);
        &.highlighted-#{$i} {
          background-color: $color;
        }
      }
    }

    &::after {
      content: ", ";
      white-space: pre;
      display: inline;
    }

    &:last-child::after {
      display: none;
    }
  }
}

.achievements {
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  li {
    h3 {
      display: inline;
      &::after {
        content: "\2014";
        display: inline-block;
        padding-left: 0.2em;
        padding-right: 0.2em;
      }
    }
    p {
      display: inline;
    }
  }
}


$bar-width: 0.7;
$bar-color: transparentize($primary-color, 0.2);
$bar-hover-color: lighten($bar-color, 20%);
$grid-segments: 10;
.skill-graph {
  position: relative;
  .labels {
    position: relative;
    z-index: 1;
    height: 2em; /* prevent labels from wrapping to next column */
    font-size: 70%;
    background: white;
    @for $i from 1 to $grid-segments {
      .label-#{$i} {
        left: $bar-width * percentage(($i) / $grid-segments);
        border-left: 1px solid #CCC;
        padding-top: 1em;
        padding-left: 0.25em;
        line-height: 1;
        position: absolute;
      }
    }
  }
  .background {
    @for $i from 1 through ($grid-segments + 1) {
      .gridline-#{$i} {
        $width: percentage(($i - 1) * $bar-width / $grid-segments);
        left: $width;
        border-left: 1px solid #DDD;
        height: 100%;
        position: absolute;
        z-index: -1;
      }
    }
  }
  .bars {
    font-size: 90%;
    .subskills {
      font-size: 80%;
    }

    .bar {
      margin: 3px 0; // need to use pixels; otherwise margins won't be pixel perfect on chrome
      cursor: pointer;
    }

    @for $i from 1 through 10 {
      $offset: percentage($i * $bar-width / $grid-segments);
      $width: percentage(1 - ($i * $bar-width / $grid-segments));

      .bar-#{$i}  {
        background: linear-gradient(to right, $bar-color, $bar-color $offset,  transparent $offset,  transparent);

        &:hover {
          background: linear-gradient(to right, $bar-hover-color, $bar-hover-color $offset,  transparent $offset,  transparent);
        }

        > .bar-content {
          left: $offset;
          position: relative;
          padding: 0 0.3rem;
          width: $width;
        }
      }
    }
  }
}
